/* Estilo general */
.container {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.alt-navbar {
  background-color: #9d2235;
  /* rojo vino oscuro */
  padding: 15px 30px;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 60px;
}

/* Logo */
.nav__title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  color: white;
}


/* Formulario de búsqueda */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 0 10px;
  height: 40px;
  margin: 10px;
}

.search-form input {
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 16px;
  width: 200px;
}

.search-form button {
  background-color: transparent;
  border: none;
  color: #9d2235;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Menú de navegación */
.nav__link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}

.nav__links {
  color: #fff;
  text-decoration: none;
}

.nav__items {
  list-style: none;
}

.nav__items a:hover {
  color: #0e0d0d;
}

/* Ícono menú hamburguesa */
.nav__menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.nav__img {
  display: block;
  width: 30px;
}

/* Ícono cerrar */
.nav__close {
  display: var(--show, none);
}

/* Media queries */
@media screen and (max-width: 768px) {
  .nav__menu {
    display: block;
  }

  .nav__link--menu {
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: .7s opacity;
  }

  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .nav__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }

  .search-form {
    margin-left: 80px;
  }
}